
<img src="/assets/Home/logo.png" class="logo-header">

<section class="cadastro">

  <img src="/assets/Cadastro/img-cadastro.png" class="img-cadastro">
  
  <article class="cadastro-content">

    <h1>A Investment Overview com você</h1>
    <h2>Cadastro</h2>
    <h3>Informe seus Dados</h3>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "Email" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "PRONTO!" %>
      </div>
      
      <div class="erro-mensagem">
        <%= devise_error_messages! %>
      </div>
    <% end %>
    
  </article>

</section>