<body>

<!--------------------------------------------------- Header --------------------------------------------------->

<header>
	 <%= image_tag("Home/logo.png", class: 'logo-header') %>
	<nav>
		<ul>
			<li><a href="#1">Como Funciona</a></li>
			<li><a href="#2">Custo</a></li>
			<li><a href="#3">Equipe</a></li>
		</ul>
	</nav>
	
	<input type="button" value="EXPERIMENTAR" class="btn-home-experimentar">
	<%= button_tag('LOGIN', class: 'btn-home-login')%>
 
  	<div class="icon-menu2">
		<div class="line-icon2"></div>
		<div class="line-icon2"></div>
		<div class="line-icon2"></div>		
	</div>
	
	<div class="menu-animate">
		<div class="seta"></div>
	    <div class="menu-line"></div>
	    <div class="nav">
	        <ul>
				<li><a href="#1">Como Funciona</a></li>
				<div class="menu-line"></div>
				<li><a href="#2">Custo</a></li>
				<div class="menu-line"></div>
				<li><a href="#3">Equipe</a></li>
				<div class="menu-line"></div>
				<li class="redir-cadastro"><a>Experimentar</a></li>
				<div class="menu-line"></div>
				<li class="redir-login"><a>Login</a></li>
				<div class="menu-line"></div>
	        </ul>
	    </div>
	</div>
  
</header>

<!-------------------------------------------------- Home -------------------------------------------------->

<section class="home">
   
	<article class="content">
	
	<%= image_tag("Home/home-img1.png", class: 'home-img1') %>
		
	<div class="home-content-1">
		<h1>Turbine seus investimentos<br>
			de Criptomoeda com a gente!</h1><br>
		<h2>Na Investment Overview, você além de investir, contará com o auxílio do nosso sistema no qual te avisa a hora certa de comprar e vender suas ações.</h2>
		<input type="button" value="Registrar-se" class="btn-home-registrar">
		<input type="button" value="Login" class="btn-home-login2">
	</div>	
	
	<div class="home-vantagens" id="1">
		<div class="home-vantagens-box">
			<div class="home-vantagens-img-box">
					<%= image_tag("Home/vantagens-icon-1.png", class: 'home-vantagens-icon-1') %>
			</div>
			<h3><strong>Economize<br>
				seu tempo</strong><br><br>
				Deixe o trabalho de acompanhar a bolsa com a gente</h3>
		</div>

		<div class="home-vantagens-box">
			<div class="home-vantagens-img-box">
				<%= image_tag("Home/vantagens-icon-2.png", class: 'home-vantagens-icon-2') %>
			</div>
			<h3><strong>Aumente<br>
			seu patrimônio</strong></strong><br><br>
			Dê um UP em seus investimentos e aumente seu patrimônio</h3>
		</div>

		<div class="home-vantagens-box">
			<div class="home-vantagens-img-box">
				<%= image_tag("Home/vantagens-icon-3.png", class: 'home-vantagens-icon-3') %>
			</div>
			<h3><strong>Excelente<br>
				Área de trabalho</strong><br><br>
			Nada melhor do que um ambiente adequado para os seus negócios, não?</h3>
		</div>

		<div class="home-vantagens-box">
			<div class="home-vantagens-img-box">
				<%= image_tag("Home/vantagens-icon-4.png", class: 'home-vantagens-icon-4') %>
			</div>	
			<h3><strong>Equipe<br>
				Competente</strong><br><br>
			Temos uma equipe prepara para auxiliar você com seu dinheiro</h3>
		</div>	
	</div>	
		
	</article>	
		
</section>

<!-------------------------------------------------- Home - Custos -------------------------------------------------->

<section class="home-custos" id="2">
	
	<div class="home-custos-line"></div>
	
	<article class="content">
			<%= image_tag("Home/custos-img.png", class: 'home-custos-img') %>
			
		<aside class="home-custos-box">
			<h1>Sem custos para utilizar a nossa plataforma</h1>
			<h3>
				<a>Sem cadastro de cartão de crédito</a><br><br>
				
				Não é pegadinha! A Investment Overview lhe
				oferece uma ótima plataforma para te auxiliar
				em seus investimentos e ainda não cobra nada<br><br>
				
				Existe algo melhor do que essa notícia?
				Então está esperando o que pra começar para 
				se cadastrar? 
			</h3>
		</aside>
		
	</article>
	
</section>

<!------------------------------------------------- Home - Objetivos --------------------------------------------------->

<%= image_tag("Home/bloco2-1.png", class: 'objetivos-img-bloco1') %>

<section class="home-objetivos">
	
	<article class="content home-objetivos-content">
		<div class="home-objetivos-box home-objetivos-box1">
			<%= image_tag("Home/objetivos-2.png") %>
			<h1>Acompanhe em tempo real suas Cryptomoedas favoritas</h1>
			<h3>Além do nosso sistemas lhe avisar a hora
			certa para Comprar e Vender suas ações,
			você ainda poderá aproveitar para companhar
			as suas moedas em tempo real.</h3>
		</div>
		<div class="home-objetivos-box home-objetivos-box2">
			<%= image_tag("Home/objetivos-1.png") %>
			<h1>Aumente a rentabilidade dos
			seus lucros mensais</h1>
			<h3>Com a nossa ferramenta fica ainda mais
			fácil de lucrar com as moedas, estando
			sempre atento ao momento que
			informarmosa hora certa de agir!</h3>
		</div>
	</article>
	<%= image_tag("Home/bloco2-3.png", class: 'home-objetivos-back') %>
</section>

<%= image_tag("Home/bloco2-2.png", class: 'objetivos-img-bloco1') %>

<!--------------------------------------------------- Home - Companhia --------------------------------------------------->

<section class="home-companhia" id="3">
	<div class="home-companhia-line"></div>
	<article class="content">
		<%= image_tag("Home/grupo.png") %>
		<article class="home-companhia-box">
			<h1>Você está em boa companhia</h1>
			<h3>Compras e vender ações exige tempo, certo? 
				Pensando nesse próposito, criamos um projeto 
				que te auxilia com suas cryptomoedas, tendo como 
				funcionalidade informar a você, a hora certa de 
				comprar e vender seu papéis.<br><br>
				
				Dedicamos nosso tempo para te ajudar nessa jornada!</h3>
		</article>
	</article>	
</section>

<!--------------------------------------------------- Contato --------------------------------------------------->

<section class="contato">
	<article class="content">
		<h1>Estamos aguardando o seu contato!</h1>
		<h2>Envie a sua questão, dúvida ou o que tiver vontade.<br>
		Responderemos o mais rápido possível!</h2>
		<input type="button" class="btn-contato-sb" value="SAIBA MAIS">
	</article>
</section>

<!--------------------------------------------------- Contato --------------------------------------------------->

<section class="contato2">
	<article class="content-contato2">
		<label class="box-email-contato">
			<h3>Seu email</h3><br>
			<input type="email" placeholder="Seu email">
		</label>
		<label>
			<h3>Seu nome</h3><br>
			<input type="text" placeholder="Seu nome">
		</label><br>
		<h3 class="contato2-ajust-font">Conte-me mais</h3><br>
		<textarea placeholder="Digite aqui..."></textarea><br>
		<h3>O que está achando do projeto?</h3><br><br>
		<input type="range" step="1" min="0" max="100"><br><br>
		<h5>50</h5><br><br>
		<input type="button" class="btn-contato-enviar" value="Enviar">
	</article>
</section>

<!--------------------------------------------------- Footer --------------------------------------------------->

<footer>
	<div class="footer-line"></div>
	<div class="footer-content">
		<h2>Pronto para começar?</h2>
		<h3>Comece a investir com mais segurança agora!</h3>
		<input type="button" value="Registrar-se" class="btn-home-registrar">
		<input type="button" value="Login" class="btn-home-login2">
	</div>
		
	<div class="footer-content">
		 <%= image_tag("Home/logo.png", class: 'logo-footer') %>
		 <div class="footer-redes">
		 	<h4>NOSSAS<br> 
			REDES SOCIAIS</h4>
		 		
	 		<%= image_tag("Home/lkd-icon.png", class: 'lkd-icon-footer') %>
	 		<h5><a href="https://www.linkedin.com/in/lucas-santos-web/" target="_blank">Lucas Santos</a></h5>
	 		
	 		<%= image_tag("Home/lkd-icon.png", class: 'lkd-icon-footer') %>
			<h5><a href="https://www.linkedin.com/in/japauk/" target="_blank">Matheus Ueda</a></h5>
			
			<%= image_tag("Home/lkd-icon.png", class: 'lkd-icon-footer') %>
	 		<h5><a href="https://www.linkedin.com/in/wildemar-barbosa/" target="_blank">Willdemar Barbosa</a></h5>
		 </div>
	</div>
</footer>

</body>

