
<div class="mask-window"></div>

<!--------------------------------------------------- Header --------------------------------------------------->

<header class="header-painel">
	<img src="/assets/Home/logo.png" class="logo-header">
	<div class="icon-menu">
		<div class="line-icon"></div>
		<div class="line-icon"></div>
		<div class="line-icon"></div>		
	</div>
</header>    

<!--------------------------------------------------- Menu --------------------------------------------------->

<div class="menu-animate">
	<div class="menu-box-user">
		<div class="menu-box-user-mask">
			<div class="img-user-menu"></div>
			<h3>
				<strong><%= @user.email %></strong><br>
				<%= @user.email %>
			</h3>
		</div>
	</div>
	<div class="menu-line"></div>
    <div class="nav">
        <ul>
			<% if @authenticate %>
				<% if @user.kind == 'admin' %>
					<img src="/assets/Painel/admin.png" class="icons-nav">
					<%= link_to 'Administrador', rails_admin_path, method: :get %>
					<div class="menu-line"></div>
				<% end %>
				<img src="/assets/Painel/perfil.png" class="icons-nav">
			 	<%= link_to "Perfil", edit_user_registration_path %>
		     	<div class="menu-line"></div>
		     	<img src="/assets/Painel/sair.png" class="icons-nav">
		     	<%= link_to "Sair", destroy_user_session_path, method: :delete %>
		    <% end %>
			<div class="menu-line"></div>
        </ul>
    </div>
</div>

<!--------------------------------------------------- Painel --------------------------------------------------->

<section class="painel-invest">

	<article class="content">

		<div id="vue"></div>

	</article>

</section>


