
<div class="mask-window"></div>

<!--------------------------------------------------- Header --------------------------------------------------->

<header class="header-painel">
	<%= image_tag('Home/logo.png', class: 'logo-header logo-header-painel') %>
	<div class="icon-menu">
		<div class="line-icon"></div>
		<div class="line-icon"></div>
		<div class="line-icon"></div>		
	</div>
</header>    

<!--------------------------------------------------- Menu --------------------------------------------------->

<div class="menu-animate">
	<div class="menu-box-user">
		<div class="menu-box-user-mask">
			<% if @image %>
			<%= image_tag(@user.image_url(:thumb).to_s, class: "img-user-menu") %>
			<% else %>
			<%= image_tag('Perfil/perfil-new.png', class: "img-user-menu") %>
			<% end %>
			<h3>
				<strong><%= @user.nome %></strong><br>
				<%= @user.email %>
			</h3>
		</div>
	</div>
	<div class="menu-line"></div>
    <div class="nav">
        <ul>
			<% if @authenticate %>
				<% if @user.kind == 'admin' %>
					<%= image_tag('Painel/admin.png', class: 'icons-nav')%>
					<%= link_to 'Administrador', rails_admin_path, method: :get %>
					<div class="menu-line"></div>
					<%= image_tag('Painel/contato.png', class: 'icons-nav')%>
					<a data-method="get" href="/contatos">Contatos</a>
					<div class="menu-line"></div>
				<% end %>
				<%= image_tag('Painel/painel.png', class: 'icons-nav')%>
			 	<%= link_to "Painel", root_path, method: :get %>
		     	<div class="menu-line"></div>
		     	<%= image_tag('Painel/perfil.png', class: 'icons-nav')%>
			 	<%= link_to "Perfil", edit_user_registration_path, method: :get %>
		     	<div class="menu-line"></div>
		     	<%= image_tag('Painel/sair.png', class: 'icons-nav')%>
		     	<%= link_to "Sair", destroy_user_session_path, method: :delete %>
		    <% end %>
			<div class="menu-line"></div>
        </ul>
    </div>
</div>

<!--------------------------------------------------- Painel --------------------------------------------------->

<section class="painel-invest">
	
	<!-- particles.js container -->
	<div id="particles-js"></div>
	<!-- scripts -->
	<%= javascript_include_tag('particles.js') %>
	<%= javascript_include_tag('app.js') %>
 
	<article class="content content-painel">
		<div id="vue"></div>
	</article>
	
</section>
