<!DOCTYPE html>
<html>
  <head>
    <title>InvestimentOverview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @authenticate %>
      <%= link_to "Sair", destroy_user_session_path, method: :delete %>
      <%= link_to "Perfil", edit_user_registration_path %>
      <%= link_to "Painel", painel_index_path %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Registre-se", new_user_registration_path %>
    <% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    <%= yield %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track':
'reload' %>
  </body>
</html>
